# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# ==============================
# Django
# ==============================
db.sqlite3
*.sqlite3
media/
staticfiles/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Chroma Vector DB (IMPORTANT)
# ==============================
chroma_db/

# ==============================
# MacOS
# ==============================
.DS_Store

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Build / Distribution
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Python version files
# ==============================
.python-version
